[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
idom = "*"
idom-jupyter = "*"
shortuuid = "*"

[dev-packages]
black = "*"
build = "*"
notebook = "<7"
ipywidgets = "==7.7.1"

[requires]
python_version = "3.9"

[pipenv]
allow_prereleases = true
